.jumbotron {
    padding-top: 6rem;
    background-color: #75acff;
}

#education {
    background-color: #75acff;
}

#projects {
    background-color: #75acff;
}

section {
    padding-top: 5rem;
}